.footerstart {
	color: white;
	font-family: "Amiko", sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 10em;
	background-color: none;
}

footer {
	color: white;
	font-family: "Amiko", sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h1 {
	color: white;
	font-family: "Sail", cursive;
	font-size: 11em;
	text-align: center;
	line-height: 70%;
	margin-top: 0.3em;
}

.bodystart {
	background: url(bilder/confetti.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.bodyall {
	background: url(bilder/confetti.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 

}

.container.start.one {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: none;
	margin-top: 1.5em;
	color: white;
	font-family: "Amiko", sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.1em;
}

.headername {
	color: white;
	font-family: "Sail", cursive;
	font-size: 2em;
	margin-top: 0;
	letter-spacing: none;
}

.startintro {
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: 0.2em;
	color: white;
}

.container.start.two {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: none;
	margin-top: 4em;
}

.row.start {
	margin-top: 2em;
	margin-bottom: 2em;
}

.container.info.one {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: none;
	margin-top: 1.5em;
	color: white;
	font-family: "Amiko", sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.1em;

}

.container.info.two {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: white;
	margin-top: 15em;
	
}

.container.rsvp.one {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: none;
	margin-top: 1.5em;
	color: white;
	font-family: "Amiko", sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.1em;

}

.container.rsvp.two {
	width: 100%;
	align-content: center;
	text-align: center;
	background-color: white;
	margin-top: 15em;
}

.send:hover {
	background-color: #5EB7FF;
}

.form {
	background: #FF4F8D;
	background: -webkit-linear-gradient(#FF4F8D, #FF7A33);
	background: -o-linear-gradient(#FF4F8D, #FF7A33);
	background: -moz-linear-gradient(#FF4F8D, #FF7A33);
	background: linear-gradient(#FF4F8D, #FF7A33);
	font-family: 'Cormorant Garamond', serif;
	font-size: 1em;
	color: white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 80%;
	text-align: center;
	margin: auto;
}

.form.all {
	font-family: "Amiko", sans-serif;
	font-size: 0.8em;
}

.send {
	background-color: #FF4F8D;
	border: none;
	width: 12em;
	height: 3em;
	text-align: center;
	font-family: "Amiko", sans-serif;
	font-size: 1em;
}

#addRow {
	color: white;
	background-color: none;
	font-size: 0.8em;
}

.formhead {
	font-family: 'Sail', cursive;
	font-size: 4em;
}

.text {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.2em;
	color: black;
}

.span3 {
	border: none;
}

input[type="text"] {
	color: black;
	font-family: 'Amiko', sans-serif;
}

.infohead {
	text-align: left;
	color: #5EB7FF;
	font-family: 'League Script', cursive;
	font-size: 2em;
	margin-bottom: 0;
}

.container.instagram {
	background-color: none;
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

#instafeed a {
  display:inline-block;
  position:relative;
  padding: 0.5em;
}

#instafeed .likes {
	background: rgba(94,183,255,0.8);
	font-family: "Amiko", sans-serif;
	font-size: 1.2em;
	position: absolute;
	color: white;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	opacity:0;
	text-align: center;
	line-height: 10em;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
	opacity: 1;
}
